body.portrait .datepicker {
    z-index: 10;
    width: 360px
}

body.portrait .datepicker--nav {
    min-height: 40px;
    padding: 10px;
}
body.portrait .datepicker--day-name {
    height: 30px;
    font-size: 30px;
}
body.portrait .datepicker--nav {
    font-size: 30px;
}
body.portrait .datepicker--cell {
    height: 55px;
    font-size: 30px;
}
body.portrait .datepicker--cells-months {
    height: initial;
}
@media(max-width:5000px) {
    .datepicker {
    }
}
@media(max-height:5000px) {
    .datepicker {
    }
}

