
.table{
    width: 100%;
    border: 1px solid grey;
}
.result .result-row{
    overflow: auto;
    border: 2px solid grey;
    border-bottom:none;
    cursor: pointer;}
.result .result-row:hover{
    border-color:#008cd2;
    border-bottom: 2px solid #008cd2;}
.result .result-row:hover+.result-row{border-top:none;}
/* .result .result-row .result-data{border-bottom: 1px solid grey;} */
.result .result-row:last-child{border-bottom:1px solid grey}
.result .result-data{
    padding: 10px 15px;
    float: left;
    width: calc(100%);}
.result button{float: right;}
.result b{font-weight: 500;}
.result a{text-decoration: none;color: #353535;}
.title{margin-bottom: 15px;
    font-size: 25px;
    text-align: center}
.close{    
    background-image: url( icons/cancel.svg);
    font-size: 0px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;}
@media(max-width:550px){
}