.table {
  width: 100%;
  border: 1px solid grey;
}
.result .result-row {
  display: block;
  overflow: auto;
  border: 2px solid grey;
  border-bottom: none;
  cursor: pointer;
}
.result .result-row:last-child {
  border-bottom: 2px solid grey
}
.result .result-row:last-child:hover,
.result .result-row:hover {
  border-color: #008cd2;
  border-bottom: 2px solid #008cd2;
}
.result .result-row:hover+.result-row {
  border-top: none;
}
.result .result-data {
  padding: 10px 15px;
  float: left;
  width: calc(100%);
}
.result button {
  float: right;
}
.result b {
  font-weight: 500;
}
.result a {
  text-decoration: none;
  color: #353535;
}
.resultSteps {
  padding-top: 20px;}

.title {
  margin-bottom: 15px;
  font-size: 25px;
  text-align: center
}
.close {
  background-image: url(icons/cancel.svg);
  font-size: 0px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media(max-width:550px) {}
.deloSearch .main {
  max-width: 1020px;
  overflow: auto;
}
.deloSearch .selectType select{
  border: 1px solid grey;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
}

/* .deloSearch .searchLeft {
  float: left;
  width: 260px;
}
.deloSearch .searchLeft p {
  color: #0851a7;
  font-style: normal;
  cursor: pointer;
  font-weight: 500;
}
.deloSearch .searchLeft p.active,
.deloSearch .searchLeft p:hover {
  color: #0f6fe0;
} */
.stepsWrap {
}
.deloSearch .stepsWrap select{}
.deloSearch .stepsWrap option{}
.deloSearch .stepsWrap option:active{}
.deloSearch .selectDate{
  overflow: auto;
  margin-bottom: 10px;
}
.deloSearch .selectDate label{
  width: 50%;
  float: left;
}
.deloSearch .selectDate input{
  margin-top: 10px;
  width: 100%;
  padding: 5px 15px;
  border: 1px solid grey;
  padding: 10px 15px;
  font-size: 16px;
}
.deloSearch .selectType select:focus,
.deloSearch .selectDate input:focus{
  border-color: #008cd2;
}
.deloSearch .selectMore{}
.deloSearch .resultTitle{    margin-bottom: 15px;}
.deloSearch .selectMore .form{display:none;}

.deloSearch .selectMore.week .week,
.deloSearch .selectMore.in .in,
.deloSearch .selectMore.let .let,
.deloSearch .selectMore.out .out,
.deloSearch .selectMore.inside .inside,
.deloSearch .selectMore.jornal .jornal,
.deloSearch .selectMore.resol .resol,
.deloSearch .selectMore.resolWeek .resolWeek,
.deloSearch .selectMore.files .files,
.deloSearch .selectMore.prj .prj,
.deloSearch .selectMore.today .today {
  display: block
}
.step {
  float: left;
  padding: 5px 10px;
  border: 2px solid #808080;
  cursor: pointer;
}
.step.active,
.step:hover {
  border-color: #008cd2;
  color: #008cd2;
}

.deloSearch .search {
  overflow: auto;
}
.deloSearch .result {
  width: 100%;
  overflow: auto;
}
.deloSearch .search .form {
  display: none
}
.deloSearch .search .form select,
.deloSearch .search .form input {
  position: relative;
  border: 1px solid #b7b7b7;
  font-size: 16px;
}
.deloSearch .search .form input{text-align: center;}
.deloSearch .search i {
  font-style: normal;
  min-width: max-content;
  max-width: 160px;
  width: 100%;
  float: left;
}
.deloSearch button{
  color: #fff;
  background-color: #008cd2;
  padding: 10px 15px;
  font-size: 15px;
}
.deloSearch button:hover{
  background-color: #019eec;
}
.deloSearch .search p {
  display: inline-block;
}
.deloSearch .nChange {}
.deloSearch .nChange p {}
.deloSearch .nChange input {}
.deloSearch .nChange #up {}
.deloSearch .nChange #down {}

.stepsSizeWrap{     float: right;}
.stepsSizeWrap select{
  padding: 5px 10px;
  border: 2px solid #808080;
  font-size: 15px;}
.stepsSizeWrap select:hover{
  border-color: #008cd2;
}





