.deloPage  .main{    max-width: 1020px;}
.table{
    width: 100%;
    border: 1px solid grey;
}
.result .result-row{
    overflow: auto;
    border: 2px solid grey;
    border-bottom:none;
    cursor: pointer;}
.result .result-row:hover{
    border-color:#008cd2;
    border-bottom: 2px solid #008cd2;}
.result .result-row:hover+.result-row{border-top:none;}
/* .result .result-row .result-data{border-bottom: 1px solid grey;} */
.result .result-row:last-child{border-bottom:1px solid grey}
.result .result-data{
    padding: 10px 15px;
    float: left;
    width: calc(100%);}
.result button{float: right;}
.result b{font-weight: 500;}
.result a{text-decoration: none;color: #353535;}
.title{margin-bottom: 15px;
    font-size: 25px;
    text-align: center}

.itemNumber{    
    float: left;
    border: 1px solid #969696;
    background-color: #efefef;
    color: #BD2C3C;
    display: inline-block;
    margin-right: 17px;
    min-width: 25px;
    line-height: 23px;
    text-align: center;
    vertical-align: middle;}
.caseDetR{overflow: auto;padding-top: 3px;}
.caseDetR>div{}
.caseDetR>div>p{}
.deloPage .head b,
.deloPage .caseDetR>div b{    
    color: #0851a7;
    font-weight: 400;
}
.deloPage .head i,
.deloPage .caseDetR a,
.deloPage .caseDetR i{    
    color: #0851a7;
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
}
.deloPage .caseDetR a:hover,
.deloPage .head i:hover,
.deloPage .caseDetR i:hover{    
    color: #0f6fe0;
}
.deloPage .head p:not(:last-child),
.deloPage .caseDetR p:not(:last-child){margin-right: 15px;}
.caseDetails{overflow: auto;}
.deloPage .caseShort{
    border: 2px solid darkgrey;
    border-bottom: none;
    cursor: pointer;
    line-height: 29px;
    font-size: 17px;
    padding: 0px 15px;}
.deloPage .caseShort.closed+.caseDetails{height: 0px}
@media(max-width:550px){
}

.deloPage .caseDetails{
    position: relative;
    border: 2px solid darkgrey;
    border-top: none;
    overflow: hidden;
}
.deloPage .caseDetails:after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: inset 1px 3px 7px 0px rgba(0, 0, 0, 0.47);
       -moz-box-shadow: inset 1px 3px 7px 0px rgba(0, 0, 0, 0.47);
            box-shadow: inset 1px 3px 7px 0px rgba(0, 0, 0, 0.47);
    pointer-events: none;
}
.deloPage .caseItem{border-bottom: 1px dashed silver;padding: 5px 15px;overflow: auto;
    /* background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 51%, #f9f9fa 68%, #f7f6f7 84%, #f4f3f4 100%); */
}
.deloPage .caseItem:nth-child(odd) {background-color: #fff;}
.deloPage .caseItem:nth-child(even){background-color: #f4f3f4;}
.deloPage .caseItem:first-child{padding-top: 15px;}
.deloPage .caseItem:last-child{padding-bottom: 15px;}
.deloPage .head{    padding-bottom: 15px;}
.deloPage .caseDetR p,
.deloPage .head  p{display: inline;}
.deloPage .caseDetails.closed{
    height: 0px;
}
.deloPage .caseShort:hover,
.deloPage .caseShort:hover+.caseDetails{
    border-color:#008cd2;   
}
.deloPage .case:not(:last-child){ 
    margin-bottom: 15px;
}
.deloPage .popFields div{ overflow: auto;    margin-bottom: 5px;}
.deloPage .popFields b{    
    font-size: 17px;
    overflow: auto;
    color: #0851a7;
    font-weight: 400;
    float: left;
    min-width: 130px;
    text-align: right;
    margin-right: 15px;}
.deloPage .popFields p{    
    font-size: 18px;    
    overflow: auto;}
.deloPage .popupWrap{padding: 20px 10%;}
.deloPage .popup{max-width: 1000px}
@media(max-width:550px){
    .deloPage .popup{padding: 0px 20px 20px;}
    .deloPage .popupWrap{padding: 0px;}
    .deloPage .popFields b{ 
        float: none;
        min-width: auto;}
}





