.table {
  width: 100%;
  border: 1px solid grey;
}
.result .result-row {
  display: block;
  overflow: auto;
  border: 2px solid grey;
  border-bottom: none;
  cursor: pointer;
}
.result .result-row:last-child {
  border-bottom: 2px solid grey
}
.result .result-row:last-child:hover,
.result .result-row:hover {
  border-color: #008cd2;
  border-bottom: 2px solid #008cd2;
}
.result .result-row:hover+.result-row {
  border-top: none;
}
.result .result-data {
  padding: 10px 15px;
  float: left;
  width: calc(100%);
}
.result button {
  float: right;
}
.result b {
  font-weight: 500;
}
.result a {
  text-decoration: none;
  color: #353535;
}
.resultSteps {
  padding-top: 20px;}

.title {
  margin-bottom: 15px;
  font-size: 25px;
  text-align: center
}
.close {
  background-image: url(icons/cancel.svg);
  font-size: 0px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media(max-width:550px) {}
.deloSearch .main {
  max-width: 1020px;
  overflow: auto;
}
.deloSearch .selectType select{
  border: 1px solid grey;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
}

/* .deloSearch .searchLeft {
  float: left;
  width: 260px;
}
.deloSearch .searchLeft p {
  color: #0851a7;
  font-style: normal;
  cursor: pointer;
  font-weight: 500;
}
.deloSearch .searchLeft p.active,
.deloSearch .searchLeft p:hover {
  color: #0f6fe0;
} */
.stepsWrap {
}
.deloSearch .stepsWrap select{}
.deloSearch .stepsWrap option{}
.deloSearch .stepsWrap option:active{}
.deloSearch .selectDate{
  overflow: auto;
  margin-bottom: 10px;
}
.deloSearch .selectDate label{
  width: 50%;
  float: left;
}
.deloSearch .selectDate input{
  margin-top: 10px;
  width: 100%;
  padding: 5px 15px;
  border: 1px solid grey;
  padding: 10px 15px;
  font-size: 16px;
}
.deloSearch .selectType select:focus,
.deloSearch .selectDate input:focus{
  border-color: #008cd2;
}
.deloSearch .selectMore{}
.deloSearch .resultTitle{    margin-bottom: 15px;}
.deloSearch .selectMore .form{display:none;}

.deloSearch .selectMore.week .week,
.deloSearch .selectMore.in .in,
.deloSearch .selectMore.let .let,
.deloSearch .selectMore.out .out,
.deloSearch .selectMore.inside .inside,
.deloSearch .selectMore.jornal .jornal,
.deloSearch .selectMore.resol .resol,
.deloSearch .selectMore.resolWeek .resolWeek,
.deloSearch .selectMore.files .files,
.deloSearch .selectMore.prj .prj,
.deloSearch .selectMore.today .today {
  display: block
}
.step {
  float: left;
  padding: 5px 10px;
  border: 2px solid #808080;
  cursor: pointer;
}
.step.active,
.step:hover {
  border-color: #008cd2;
  color: #008cd2;
}

.deloSearch .search {
  overflow: auto;
}
.deloSearch .result {
  width: 100%;
  overflow: auto;
}
.deloSearch .search .form {
  display: none
}
.deloSearch .search .form select,
.deloSearch .search .form input {
  position: relative;
  border: 1px solid #b7b7b7;
  font-size: 16px;
}
.deloSearch .search .form input{text-align: center;}
.deloSearch .search i {
  font-style: normal;
  min-width: max-content;
  max-width: 160px;
  width: 100%;
  float: left;
}
.deloSearch button{
  color: #fff;
  background-color: #008cd2;
  padding: 10px 15px;
  font-size: 15px;
}
.deloSearch button:hover{
  background-color: #019eec;
}
.deloSearch .search p {
  display: inline-block;
}
.deloSearch .nChange {}
.deloSearch .nChange p {}
.deloSearch .nChange input {}
.deloSearch .nChange #up {}
.deloSearch .nChange #down {}

.stepsSizeWrap{     float: right;}
.stepsSizeWrap select{
  padding: 5px 10px;
  border: 2px solid #808080;
  font-size: 15px;}
.stepsSizeWrap select:hover{
  border-color: #008cd2;
}
.docH_row_R{    overflow: auto;}
.notnodeR,
.docH_parent_R,
.deloSearch .nodeR{
  color: #008cd2;
  cursor: pointer;
  display: block;
  overflow: auto;
  padding-left: 25px;
  position: relative;
}
/* .deloSearch .nodeR{color: #008cd2;cursor: pointer;} */
/* .deloSearch .node:hover{    background: green;    border: 2px solid yellow;} */

.deloSearch .notnodeR{
  color: initial;
}
.docH_left .children{
  padding-left:20px
}
.docH_parent_R:before,
.nodeR:before,
.notnodeR:before{
  content: "";
  width: 19px;
  background-color: white;
  height: 19px;
  display: block;
  float: left;
  fill: #008cd2;
  position: absolute;
  top: 0px;
  left: 0px;
}
.notNodeL,
.nodeL{
  cursor: pointer;
  display: block;
  overflow: auto;
  padding-left: 25px;
  position: relative;
}
.nodeL{
  color: #008cd2;}
.notNodeL:before,
.nodeL:before{
  content: "";
  width: 19px;
  background-color: white;
  height: 19px;
  display: block;
  float: left;
  fill: #008cd2;
  position: absolute;
  top: 0px;
  left: 0px;

}
.nodeL:before{  background-image: url(icons/folder.gif);}
.notNodeL:before{  background-image: url(icons/file.gif);}
.docH_parent_R{
  border-bottom: 1px solid #008cd2;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-left: 32px;
}
.docH_parent_R:before{background-image: url(icons/levelUp.svg);}
.nodeR:before{background-image: url(icons/folder.gif);}
.notnodeR:before{background-image: url(icons/file.gif);}
.docH_left{
  float: left;  
  width: 33%;
  overflow: auto;
  max-height: calc(100vh - 160px);}
.docH_right{ 
  float: right; 
  width: 66%;
  overflow: auto;
  max-height: calc(100vh - 160px);}
.docH .popupWrap{max-width: 100%;}
.fullScreen{

}
.parent-right{
  cursor:pointer
}
.parent-right:before{
  content:"";
  background-image: url(icons/levelUp.svg);
}
.parent-right:hover{
  color: #019eec;
}
.docH-fullsceen{    display: block;}
.docH-fullsceen .popup{
  max-width: 100%;
  height: 100%;
}
.docH-fullsceen .fullScreen{
  background-image: url(icons/cancel.svg);
}
.docH-fullsceen .popFields{
  max-height: calc(100vh - 65px);
  height: 100%;
}
.docH-fullsceen .docH_left {
  max-height: calc(100% - 10px);
  height: 100%;
}
.docH-fullsceen .docH_right{max-height: calc(100vh - 75px);}
.docH_right .sel{    
  cursor: pointer;
  border: 2px solid #008cd2;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: 0px;}
.docH_right .sel:not(.selected):hover{
  border-color: #019eec;
  background-color: #d4d4d4;
}
.docH_right .sel.selected{    
  background-color: #008cd2;
  position: relative;
}
.docH_right .sel.selected:before{    
  content: '';
  display: block;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: relative;
  top: 0px;
  left: 4px;
}
.openBox{
  border: 1px solid #008cd2;
  width: 15px;
  height: 15px;
  cursor: pointer;
  text-align: center;
  line-height: 13px;
  float: left;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.openBox.opened{}
.openBox:before,
.openBox.opened:before{}
.openBox:before{
  content:"+"
}
.opened>.openBox:before{
  content:"-"
}
.selectArea{
  margin-top: 10px;
  width: 100%;
  border: 1px solid grey;
  padding: 10px 15px;
  font-size: 16px;
  overflow: auto;
  margin-bottom: 15px;
}
.oneGroup{
  display: inline-block;
  float: left;
}
.oneGroup p{
  float: left;
  margin-right: 15px;}
.removeOne{float: right;}







