.search{    
    overflow: auto;
    margin-bottom: 10px;}
.search input{
    margin-top: 10px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 15px;
}
.search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00000057;
    font-style: italic;
    opacity: 1; /* Firefox */
}
.search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #00000057;
    font-style: italic;
}
.search input::-ms-input-placeholder { /* Microsoft Edge */
    color: #00000057;
    font-style: italic;
}
.table{
    width: 100%;
    border: 1px solid grey;}
.result .result-row{overflow: auto;border: 1px solid grey;border-bottom:none}
/* .result .result-row .result-data{border-bottom: 1px solid grey;} */
.result .result-row:last-child{border-bottom:1px solid grey}
.result .result-data{
    padding: 10px 15px;
    float: left;
    width: calc(100% - 50px);}
.result .result-info{    float: right;
    width: 50px;
    min-height: 58px;}
.result button{float: right;}
.result b{font-weight: 500;}
.result a{text-decoration: none;color: #353535;}
.title{margin-bottom: 15px;
    font-size: 25px;
    text-align: center}
.hidden{position: absolute;left:-99999px;}
.hidden p{width: 1px;height: 1px;}
.hidden p:nth-child(1){background-image: url( icons/info-h.svg);}
.hidden p:nth-child(2){background-image: url( icons/cancel.svg)}
.close{    background-image: url( icons/cancel.svg);
    font-size: 0px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;}
@media(max-width:550px){
    .searchPage .mainWrap{padding: 0px;}
    .searchPage .main{padding: 30px 15px;}
}
.searchPage .result .center{margin-bottom: 15px;}
.searchPage .infoBtn {margin:14px 14px;}
.searchPage .infoBtn {
    float: right;
    font-size: 0px;
    margin: 14px 14px;
    width: 30px;
    height: 30px;
}